/* Default Styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-height: 100vh;
  overflow: hidden;
}

.m-0{
  margin: 0px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.ant-layout-has-sider {
  margin-bottom: 2px;
}

.main-layout {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}
.main-header {
  background-color: #fff;
  position: static !important;
  margin-bottom: 0px;
}

.main-content {
  margin: 10px;
  max-width: 100%;
}

.ant-layout-header {
  padding-inline: 30px;
}

h1.header-title {
  margin: 0px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.main_description {
  .ant-typography {
    font-weight: 500;
    font-size: 1.25rem;
  }
}

.ant-layout-content {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Header */
.header-wrapper {
  max-height: 64px;
  overflow: hidden;
}

.logo_img {
  height: 60px;
  cursor: pointer;
}

.github-icon,
.npm-icon {
  color: black;
}
.github-icon:hover {
  color: gray;
}

.github-icon svg,
.npm-icon img {
  width: 35px;
  height: 35px;
}

.npm-icon {
  margin-right: 20px;
}

.title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}

.paragraph {
  margin-bottom: 24px;
  font-size: 18px;
}

.button {
  margin-top: 24px;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style-type: disc;
  margin-left: 24px;
  margin-bottom: 16px;
  font-size: 16px;
}

ol {
  list-style-type: decimal;
  margin-left: 24px;
  margin-bottom: 16px;
  font-size: 16px;
}

.pre {
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 4px;
}

.code {
  font-family: monospace;
}

/* Home page */
.home-page {
  max-width: 50vw;
  margin: 0 auto;
  padding: 10px 40px;
}
